
@{
    ViewData["Title"] = "LoginSuccess";
}


<html>
<head>
    <title>Login Success</title>
    <style>
        #aa {
            border-radius: 25px;
            border: 2px solid red;
            padding: 50px 125px;
            width: 250px;
            height: 100px;
            color: forestgreen;
            text-align: center;
            font-size: 25px;
            margin-left: 30%;
        }
    </style>
</head>
<body>
    <div id="aa">@ViewBag.message</div>
</body>
</html>
